::-webkit-scrollbar {
  @apply bg-discord-900;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  @apply bg-discord-500;
}

::-webkit-scrollbar-corner,
::-webkit-resizer,
::-webkit-scrollbar-button {
  @apply hidden;
  @apply bg-discord-900;
}