/* Vue UI dropdown tooltip */
.tooltip {
  @apply font-display;
}

.vue-ui-group.vertical .vue-ui-group-button.vue-ui-button {
  @apply outline-none;
}

/* Vue UI select dropdown */
.vue-ui-dropdown,
.vue-ui-button.button {
  @apply outline-none;
}

/* Vue UI buttons */
.vue-ui-button.primary {
  @apply outline-none;
}
